#brand-value {
  display: flex;
  justify-content: space-around;
   flex-wrap: wrap;
  
}
span{
    color: green;
}
.brand-part{
    width: 200px;
    overflow: hidden;
    border: 1px solid rgb(231, 231, 231);
    margin:.3rem;
}
.brand-part p{
    font-size: 13px;
}

.port-p p{
font-size: 13px;
}
.p-sectio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
