#brand-value {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

span {
    color: rgb(18, 134, 18);
}

.brand-part {
    cursor: pointer;
    width: 14rem;
    height: fit-content;
    overflow: hidden;
    border: 1px solid rgb(231, 231, 231);

}

.Link-p {
    height: 0;
    opacity: 0;
    width: 0;
}

.brand-part:hover .Link-p {
    height: fit-content;
    opacity: 1;
    width: auto;
}

.brand-part img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.brand-part:hover .img-1 {
    height: 0;
    width: 0;
    opacity: 0;
}

.brand-part:hover .link-app {
    width: auto;
    height: fit-content;
    opacity: 1;

}

.brand-part p {
    font-size: 13px;
}

.brand-part a {
    text-decoration: underline;
}

.active-two {
    margin: 1rem 0;
}

.link-app {
    width: 0;
    height: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: .5rem;
}

.link-app Button {
    margin: .5rem 0;
}


.port-p p {
    font-size: 13px;
}

.p-sectio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(24, 138, 24);
}

@media(max-width:446px) {
    .brand-part {
        cursor: pointer;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        border: 1px solid rgb(231, 231, 231);

    }

    .brand-part img {
        display: block;
        margin: 50%;
        margin: 0 auto;
    }
}