#footer-2 {
    background: #131a22;
    color: #757575;
    font-family: "Satoshi", sans-serif;
}

.text-header {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.text-header h3:hover {
   color: #fff;
}

.list-tooper {
    display: flex;
    justify-content: space-between;
}

.list-tooper ul {
    font-family: "Satoshi", sans-serif;
    color: #757575;
    list-style-type: none;
}
.list-tooper ul li{
    margin: .5rem 0;
}
.backGrou {
    text-align: center;
    font-family: "Satoshi", sans-serif;
    color: #d3d3d3;
    line-height: 42px;
    margin-top: 1rem;
    background: hsl(213, 28%, 19%);
}
@media(max-width:1130px) {
    .list-tooper ul li{
        padding:4px ;
        font-size: 16px;
    }

    .text-header h3 {
        font-size: 20px;
        width: fit-content;
    }
}
@media(max-width:700px) {
    .list-tooper ul {
        font-size: 15px;
    }

    .text-header h3 {
        font-size: 18px;
    }
}

@media(max-width:510px) {
    .backGrou {
        font-size: 13px;
    }

    .text-header h3 {
        font-size: 16px;
    }

    .list-tooper ul li{
        font-size: 13px;
    }
}
@media(max-width:460px) {
    

    .text-header h3 {
        font-size: 14px;
    }

   
}
@media(max-width:420px) {
    

    .text-header h3 {
        font-size: 12px;
    }

   
}