#footer-2{
    background: #131a22;
    color: #757575;
}
.text-header{
   
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.list-tooper{
    display: flex;
    justify-content: space-between;
}
.list-tooper ul{
    color: #757575;
    list-style-type: none;
}
@media(max-width:700px){
    .list-tooper ul{
        font-size: 15px;
    }
    .text-header h2{
        font-size: 18px;
    }
}
@media(max-width:500px){
    .text-header h2{
        font-size: 16px;
    }
    .list-tooper ul{
        font-size: 13px;
    }
}