.top-down-button{
    margin-top:8rem;
}
.ExpandMor{
    color: #091e42;
}
.ExpandMor:hover{
    transform:rotate(180deg) ;
}
.tudu-img{
    border: 1px solid rgb(235, 232, 232);
  padding: 20px;
}
#cocket-yarns {
    margin: 3rem 0;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-family: "Satoshi", sans-serif
}
.full-form{
    display: none;
    background-color: gainsboro;
}
.full-form.addt{
    display: block;
}
.full-form li a{
    
    color: #1f4079;
}
.full-form li a:hover{
    color: #091e42;
    
}
.h1p{
    margin-left: 2rem;
}
.h1p h1 {
   
    font-size: 34px;
    font-weight: 500;
    color: #091e42;
}

.h1p p {
    margin: .5rem 0;
    font-weight: 300;
    color: #42526e;
    width: 240px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rockp-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.rocket p {
    font-weight: 200;
    color: #42526e;

    text-align: center;

}
.rocket{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rocket-img img {
    margin: 0 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all .1s ease-in;
}

.rocket-img img:hover {
    border: 3px solid green;
}

.finish-top {
   
    margin: .5rem 0;
}

.finish-top input[type="checkbox"] {

    accent-color: #719f39;
    color: #fff;
}

.finish-top span {
    text-align: center;
    margin-left: .6rem;
    font-size: 1rem;
    color: #42526e;
    font-weight: 400;
}

#ropper-disk {
border: 1px solid rgb(235, 232, 232);
    display: flex;
   justify-content: space-evenly;
    margin: 3rem 0;
}

#ropper-disk h1 {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: .75rem;
    color: #091e42;
}
.img-collection{
   margin: .3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.img-collection img {
    border-radius: 8px;
    width: 14rem;
    height: fit-content;
}

.show-sort{
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.tudo-list{
   
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
}

.show-icon{
    display: flex;
    align-items: center;
    gap: .2rem;
}
.btnn-img{
  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item-list{
    width: 80%;
    margin: 1rem auto;
    
}
@media(max-width:928px) {
    .tudo-list{
        display: none;
    }
}
@media(max-width:850px) {
    .h1p {
        display: none;
    }
     .rocket-img img {
        display: block;
        margin: 0 3.7rem;
    }
}

@media(max-width:560px) {
    .img-collection img {
       
        width: 13rem;
       
    }
    
    
    .rocket-img img {
       
        margin: 0 .5rem;
    }
    #cocket-yarns{
        width: 100%;margin: 3 auto;

    }
    
}
    @media(max-width:756px){
        .img-collection{
            margin: .4rem 0;
        }
       
        .rocket-img img {
            
            margin: 0 2.8rem;
        }
       
    }
    @media(max-width:635px){ 
       
        
        .rocket-img img {
           
            margin: 0 1.5rem;
        }
    }
    @media(max-width:490px){ 
        .show-sort{
            display: none;
        }
        .img-collection img {
      
            width: 10rem;
           
        }
        
        
        .rocket-img img {
           
            margin: 0 .8rem;
        }
    }
    
    @media(max-width:400px){
        
        .rocket-img img {
           
            margin: 0 .4rem;
        }
    
    }
   @media(max-width:350px) {
    .btnn-img{
        margin-top: 1rem;
        display: flex;
        flex-wrap:nowrap;
    }
    
   }
       
   

   
    

