.outer {
    margin: 2rem 0;
    background-color: #b45b5b;
  
    
   
}

#both-side {
   
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d6;
    border-radius: 90px;
    width: 20rem;
    height: 5rem;
    margin: 0 auto;
    color: #cbf75c;
    font-family: 'Open Sans', sans-serif;
}

.button button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: 9.8rem;
    height: 4.5rem;
    border: none;
    outline: none;
    border-radius: 90px;
    font-size: 1.5rem;
    font-weight: 300;
}


.circule-img {
    width: 6rem;
    height: 6rem;
    background: #8888b6;
    border-radius: 50%;

    cursor: pointer;
    transition: .2s;
}

.circule-img:hover {
    border: 2px solid green;
}

.circule-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.fiter-product {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.add-text {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.add-text p {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    color: #d0d3da;
    font-size: 20px;
    font-weight: 400;

}

@media(max-width:470px) {
    #both-side {
        width: 15rem;
        height: 4rem;
        margin: 0 auto;
    }

    .button button {
        width: 7.8rem;
        height: 3.5rem;
        margin: 0 auto;
        font-size: 1.4rem;
        font-weight: 300;
    }
}

@media(max-width:370px) {
    #both-side {
        width: 13rem;
        height: 4rem;
        margin: 0 auto;
    }

    .button button {
        width: 6rem;
        height: 3rem;
        margin: 0 auto;
        font-size: 1.2rem;
        font-weight: 250;
    }
}